<div class="container">
<div class="container">
<h2 class="m-4">Locations</h2>
  <div class="row mt-2">
    <div class="col-sm cols">
      <h4>LUSAIL</h4>
      <img src="assets/images/lusail.jpg" class="img-fluid" alt="...">
      <h4 class="text-center m-3">Lusail Stadium</h4>
      <h4 class=" m-3">Matches:</h4>
       <li> 5x Group Matches (incl. Opening Match)</li>
       <li> 1x Round of 16</li>
       <li> 1x Quarter-Final</li>
       <li>1x Semi-Final</li>
    </div>
    <div class="col-sm cols">
    <h4>Al Khor</h4>
      <img src="assets/images/albayt_top.jpg" class="img-fluid" alt="...">
      <h4 class="text-center m-3">Al Bayt Stadium</h4>
      <h4 class=" m-3">Matches:</h4>
       <li> 5x Group Matches (incl. Opening Match)</li>
       <li> 1x Round of 16</li>
       <li> 1x Quarter-Final</li>
       <li>1x Semi-Final</li>
    </div>
    <div class="col-sm cols">
      <h4>Al Wakrah</h4>
      <img src="assets/images/alwakrah_top.jpg" class="img-fluid" alt="...">
      <h4 class="text-center m-3">Al Janoub Stadium</h4>
      <h4 class=" m-3">Matches:</h4>
       <li>1x Round of 16</li>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm cols">
      <h4>Al Rayyan</h4>
      <img src="assets/images/lusail.jpg" class="img-fluid" alt="...">
      <h4 class="text-center m-3">Al Rayyan Stadium</h4>
      <h4 class=" m-3">Matches:</h4>
       <li> 5x Group Matches (incl. Opening Match)</li>
       <li> 1x Round of 16</li>
    </div>
    <div class="col-sm cols">
    <h4>Doha</h4>
      <img src="assets/images/khalifanew_top.jpg" class="img-fluid" alt="...">
      <h4 class="text-center m-3">Khalifa International Stadium</h4>
      <h4 class=" m-3">Matches:</h4>
       <li> 5x Group Matches (incl. Opening Match)</li>
       <li> 1x Round of 16</li>
       <li> Match for Third Place</li>
    </div>
    <div class="col-sm cols">
      <h4>Ras Abu Aboud</h4>
      <img src="assets/images/rasabuaboud2022.jpg" class="img-fluid" alt="...">
      <h4 class="text-center m-3">Ras Abu Aboud Stadium</h4>
      <h4 class=" m-3">Matches:</h4>
       <li>1x Round of 16</li>
    </div>
  </div>

</div>
</div>