.navbar
{
    background-color: rgb(214, 210, 210) !important;
}
.navbar-brand
{
    font-size: 1.7em !important;
    font-weight: 800;
}
.nav-link
{
    font-size: 1.2em;
}

.footer
{
    text-align: center;
    background-color: rgb(59, 49, 49);
    color: #fff;
    padding: 2.5em 1em;
}